.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white
        p
            strong.mr-2 ECCL:
            | Evaluación y Certificación de Competencias Laborales.
        p
            strong.mr-2 DSNFT:
            | Dirección del Sistema Nacional de Formación para el Trabajo.
        p
            strong.mr-2 BNIE:
            | Banco Nacional de Instrumentos de Evaluación.
        p
            strong.mr-2 PQRSF:
            | Peticiones, Quejas, Reclamos, Sugerencias y felicitaciones.
        p
            strong.mr-2 NCL:
            | Norma de Competencia Laboral.
        p
            strong.mr-2 NSCL:
            | Norma Sectorial de Competencia Laboral.
        p
            strong.mr-2 SFCH:
            | Sistema de Formación de Capital Humano.